{% extends "portfolio_front/portfolio_base.html" %}
{% block content %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyświetlanie PDF</title>
    <style>
        /* Ustawienie szerokości i wysokości na 100% */
        object {
            width: 100%;      /* Szerokość 100% dostępnej przestrzeni */
            height: 100vh;    /* Wysokość 100% wysokości okna przeglądarki */
        }
    </style>
    <iframe src="{% static 'portfolio_front/pdf/CV_Damian_Piotrowski_EN.pdf' %}" width="200%" height="1200px">
        Twoja przeglądarka nie obsługuje wyświetlania plików PDF.
    </iframe>

    <script src="{% static 'portfolio_front/js/intr_message.js' %}"></script>

{% endblock content %}


