@keyframes blurToSharpScale {
  0% {
    filter: blur(15px) grayscale(18%) sepia(1%);
    transform: scale(0.80);
    opacity: 0.6;
  }
  50% {
    filter: blur(7px) grayscale(18%) sepia(1%);
    transform: scale(0.90);
    opacity: 0.8;
  }
  100% {
    filter: blur(0px) grayscale(18%) sepia(1%);
    transform: scale(1);
    opacity: 1;
  }
}

.hue-animate.aos-animate {
  animation: blurToSharpScale 1.5s ease-out forwards;
}

